.banner-img {
  background: url('https://github.com/Afonguwu/wisdom-win-vite/blob/gh-pages/img/%E6%AB%83%E5%8F%B0.jpg?raw=true');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  @include media-breakpoint-up(md) {
    height: auto;
    min-height: 450px;
  }
  @include media-breakpoint-up(lg) {
    height: auto;
    min-height: 650px;
  }
}
.banner-color {
  background: linear-gradient(to top, rgb($success, 0.9) 0%, rgba($success, 0.1) 100%);
  // bg-dark bg-gradient bg-opacity-50
}
